extends layout

block content
 h1= title

 - let bagid = toShow._id
 - let bagname = toShow.name
 - let bagcost = toShow.cost
 - let bagType = toShow.Type

 div.row(class='mb-2')
  div.mr-1 ID is
  div #{bagid}
  - let actionid = "/resource/bag/" + bagid
  form(id='bagForm', action= actionid, method="PUT")
   div.form-group
    label.bagAttr(for='name') bag name
    input#name(type='text', name='name', value= bagname )
   div.form-group
    label.bagAttr(for='cost') bag cost
    input#cost(type='number', name='cost', value= bagcost )
   div.form-group
    label.bagAttr(for='Type') bag type
    input#Type(type='text', name='Type', value= bagType )
   input(type="submit")

 script.
  document.forms['bagForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'PUT',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
     return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
     alert("Update succeded")
     // TODO handle body
    }).catch((error) => {
     // TODO handle error
     alert("Update failed " + error )
    });
  });